@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo
{
 text-align: center;
 margin-bottom: 30px;
}
.header__titulo
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.grid
{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 350px 350px;
    column-gap: 1rem;
    row-gap: 10px;
    justify-content: center;
}
.grid div
{
    border: 1px solid thistle;
    background-image: linear-gradient(to left, rgb(13, 78, 27) , rgb(8, 32, 37));
    
    margin-right: 15px;
    margin-left: 15px;
}
/*GRID PADRE*/
.grid-area
{
    height: 100vh;
    display: grid;
    grid-template-areas:
    "encabezado encabezado encabezado"
    "menu productos publicidad"
    "menu productos publicidad"
    "pie pie pie";
    grid-template-columns: 11% auto 15%;
    grid-template-rows: 205px auto auto 80px;
    }
/*GRID HIJOS*/
.productos
{
  grid-area: productos;
}
.aside
{
    background-image: linear-gradient(to left, rgb(49, 15, 46) , rgb(224, 12, 243));
    grid-area: publicidad;
    color: white;
}
.nav__lista
{
    text-decoration: none;
    grid-area: menu;
    align-self: center;
    justify-self: center;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 80px;
}
.footer
{
    text-align: center;
    grid-area: pie;
}
.footer__creditos
{
    padding-top: 10px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: black;
}
.header
{
    background-image: linear-gradient(to left, rgb(49, 57, 128) , rgb(231, 50, 186));
    grid-area: encabezado;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;   
    margin-bottom: 10px;
    padding: 10px 20px;
}
.body 
{
    font-family: 'Roboto', sans-serif;
}
.fondo
{
    background-image:url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.header__logo
{
    display: inline-block;
    border-radius: 5px 30px 45px 60px;
    margin-top: 20px;
    }
.fondo__ListaBarra
{
    list-style: none;
    font-size: 20px;
    display: inline-block;
}
.nav__lista--active
{
    font-weight: 900;
    text-decoration: underline;
    border-bottom: 2px solid black;
}
.card
{
    height: 300px;
    width: 300px;
    background-color: darkkhaki;
    border: solid 5px black;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 10px;
    overflow: scroll;
}
.card__imagen1
{
    height: 200px;
    width: 200px;
    background-color: darkkhaki;
    border: solid 5px black;
    display: inline-block;
    transform: skewY(5deg);
   }
   .parrafo
   {
       text-align: center;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: larger;
       color: white;      
   }
   .texto
   {
       color:white
   }
.card__header
{
    background-color: darkgray;
    height: 30px;
    text-align: center;
}
.card__body
{
    transform: translate(5px, 20px);
    margin-top: 20px;
    margin-bottom: 20px;
}
.formulario_contacto
{
    margin: 0 auto;
    align-content: center;
    width: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.fomulario__label
{
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
/*mobile*/
@media screen and (max-width: 480px)
{
      .responsive__logo
        {
            display: inline-block;
            border-radius: 5px 30px 45px 60px;
            margin-top: 0px;
        }
        .responsive__titulo
        {
            text-align: center;
            color: brown;
            font-size: 20px;            
        }
        .responsive__header
        {
            background-image: linear-gradient(to left, rgb(197, 201, 185) , rgb(1, 1, 10));
            grid-area: encabezado;
            display:inline-block;
            justify-content: space-between;
            align-items: center;
            height: 60vh;
            width: auto;   
            margin-bottom: 20px;
            padding: 20px 30px;
        }
        .responsive__ListaBarra
        {
            list-style: none;
            font-size: 15px;
            display: inline-block;
            margin-bottom: 15px;
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 40px;
         }
        .responsive__grid
        {
            display: inline-block;
            grid-template-columns: 45% 45%;
            grid-template-rows: 250px 250px;
            column-gap: 1rem;
            row-gap: 10px;
            justify-content: center;
        }
        .responsive__grids
        {
            height: 60vh;
            display: grid;
            grid-template-areas:
            "encabezado encabezado encabezado"
            "menu productos publicidad"
            "menu productos publicidad"
            "pie pie pie";
            grid-template-columns: 20% auto 20%;
            grid-template-rows: 200px auto auto 70px;
        }
        .responsive__card
{
    height: 150px;
    width: 150px;
    background-color: darkkhaki;
    border: solid 3px black;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 5px;
    overflow: scroll;
}
.responsive__cardheader
{
  background-color: darkgray;
    height: 15px;
    text-align: center;
}
.responsive__cardbody
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.responsive__logo1
        {
            display: inline-block;
            border-radius: 5px 30px 45px 60px;
            margin-top: 0px;
        }
        .responsive__titulo1
        {
            text-align: center;
            color: red;
            font-size: 15px;            
        }
        .responsive__header1
        {
            background-image: linear-gradient(to left, rgb(131, 158, 31) , rgb(30, 18, 199));
            grid-area: encabezado;
            display:flex;
            justify-content: space-between;
            align-items: center;
            height: 60vh;
            width: auto;   
            margin-bottom: 20px;
            padding: 20px 30px;
        }
        .responsive__footer
        {
            padding-top: 10px;
            height: 30px;
            color: white;
            font-size: 10px;
            background-color: black;
        }
    }
